:root {
    --fugro-dark-blue: #111a22; /* Dark Blue */
    --fugro-light-blue: #1d262e; /* Light Blue */
    --fugro-gray: #cccccc; /* Gray */
    --fugro-white: #ffffff; /* White */
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--fugro-dark-blue);
    color: var(--fugro-white);
}

.sidebar {
    width: 220px;
    background-color: var(--fugro-light-blue);
    padding: 10px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    color: var(--fugro-white);
}

.sidebar .material-icons {
    margin-right: 10px;
}

.sidebar.collapsed .nav-link .text {
    display: none;
}

.sidebar .sub-item {
    padding-left: 15px;
}

.content {
    flex-grow: 1;
    padding: 15px;
}

.topbar {
    background-color: var(--fugro-dark-blue);
    color: var(--fugro-white);
    padding: 10px;
}

.sidebar img {
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.transparent-bg {
    background-color: transparent;
    border: none;
}

.table-bordered-rows thead th {
    background-color: var(--fugro-dark-blue); 
    color: var(--fugro-white); 
    background-color: var(--fugro-light-blue);
}

.table-bordered-rows tbody tr {
    border-bottom: 1px solid var(--fugro-gray);
    color: var(--fugro-gray); 
    margin-bottom: 1px;
}

.submit-btn {
    background-color: var(--fugro-dark-blue); /* Bootstrap primary color */
    color: var(--fugro-white);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn .material-icons {
    font-size: 20px;
}
.action-btn {
    background-color: var(--fugro-dark-blue); /* Bootstrap primary color */
    color: var(--fugro-white);
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 4px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    /*margin-right: 5px; /* Add some space between buttons */
    /*padding: 5px 10px; /* Adjust padding as needed */
    /*font-size: 14px; /* Adjust font size as needed */
    /*border-radius: 4px; /* Add border radius for rounded corners */
}

.action-btn .material-icons {
    font-size: 20px;
}

.field-form {
    background-color: var(--fugro-light-blue);
    color: var(--fugro-white); /* Optional: Change text color for better readability */
    border: 1px solid var(--fugro-gray); /* Optional: Add a border */
    padding: 5px; /* Optional: Add padding */
    border-radius: 4px; /* Optional: Add border radius */
}

.alert-toster {
    position: fixed;
    top: 20px;
    right: 20px; 
    z-index: 1050;
}

/* styles.css */
.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    border: 1px solid;
    color: var(--fugro-white);    
    padding: 15px;
    text-align: center;
    font-size: 20px; /* Adjust the font size as needed */
}

.calendar-table th {
    background-color: var(--fugro-light-blue);;
    font-weight: bold;
}

.calendar-table td {
    height: 100px; /* Adjust the height as needed */
    width: 200px;
}

.footer {
    background-color: var(--fugro-dark-blue);
    color: var(--fugro-gray);
}