<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Builder</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    {% endblock %}
</head>
<body>
    <div class="d-flex">
        <div class="sidebar" id="sidebarMenu">
            <div class="d-flex align-items-center mb-3">
                <img src="/static/images/logo-fugro.png" alt="Logo" class="mr-2" id="logo">
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('home.home') }}">
                        <span class="material-icons">home</span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="material-icons">settings</span>
                        <span class="text">Settings</span>
                    </a>
                    <ul class="collapse list-unstyled" id="settingsSubmenu">
                        <li class="nav-item sub-item">
                            <a class="nav-link" href="{{ url_for('projects.project') }}">
                                <span class="material-icons">build</span>
                                <span class="text">Projects</span>
                            </a>
                        </li>
                        <li class="nav-item sub-item">
                            <a class="nav-link" href="{{ url_for('tasks.getTasks') }}">
                                <span class="material-icons">assignment</span>
                                <span class="text">Tasks</span>
                            </a>
                        </li>
                        <li class="nav-item sub-item">
                            <a class="nav-link" href="{{ url_for('subtasks.getSubtasks') }}"> 
                                <span class="material-icons">subdirectory_arrow_right</span>
                                <span class="text">Sub-tasks</span>
                            </a>
                        </li>
                        <li class="nav-item sub-item">
                            <a class="nav-link" href="#">
                                <span class="material-icons">people</span>
                                <span class="text">Operators</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{{ url_for('timesheets.getTimesheets') }}">
                    <span class="material-icons">schedule</span>
                    <span class="text">Timesheet</span>
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">check_circle</span>
                        <span class="text">Approval</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">assessment</span>
                        <span class="text">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
           {% block content %}
            <div class="topbar">
                <h5>Time Builder</h5>
                <p>A simple timesheet app</p>
            </div>
            {% endblock %}
        </div>

        <div class="footer">
          {% block footer %}            
          {% endblock %}
          </div>
       </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            document.getElementById('sidebarMenu').classList.toggle('collapsed');
        });
    </script>    
</body>
</html>