{% extends "index.html" %}
{% block title %}Project{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>Projects</h2>    
    <form id="projectForm" method="POST" action="{{ url_for('projects.save', id=form.id.data) }}">                
        {{ form.hidden_tag() }}                
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="projectCode">Project Code</label>                                
                {{ form.id }}
                {{ form.projectCode }}
            </div>
            <div class="form-group col-md-3">
                <label for="projectName">Project Name</label>                                
                {{ form.projectName }}
            </div>
            <div class="form-group col-md-2">
                <label for="projectName">Status</label>                                
                {{ form.projectStatus }}
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="submit-btn">
                    <span class="material-icons">add</span>
                </button>
            </div>            
        </div>
    </form>
    
    <!-- Grid to display projects -->
    <table class="table table-bordered-rows mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Project Code</th>
                <th scope="col">Project Name</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="projectTableBody">
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>                    
                    <td>{{ project.projectCode }}</td>
                    <td>{{ project.projectName }}</td>
                    <td>{{ project.status }}</td>
                    <td>
                        <button class="action-btn">
                            <a href="{{ url_for('project_tasks.index', id=project.id) }}">
                                <span class="material-icons">list</span>
                            </a>                            
                        </button>
                        <button class="action-btn">
                            <a href="{{ url_for('projects.edit', id=project.id) }}">
                                <span class="material-icons">edit</span>
                            </a>                            
                        </button>
                        <button class="action-btn">
                            <a href="{{ url_for('projects.delete', id=project.id) }}">
                                <span class="material-icons">delete</span>
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}     



    
    