{% extends "index.html" %}
{% block title %}Timesheet{% endblock %}

{% block content %}
<div class="container mt-3">
    <div>
        <button class="action-btn">
            <a href="{{ url_for('calendars.index') }}">
                <span class="material-icons">calendar_today</span>
            </a>                            
        </button>    
    </div>
    <h2>Timesheet</h2>    
    Date: {{ timesheet_day_selected }}
    {{ year }}
    {{ month }}
    {{ day }}

    <form id="timesheetForm" method="POST" action="{{ url_for('timesheets.save', id=id, year=year, month=month, day=day) }}">
        {{ form.hidden_tag() }}     
        {{ form.id }}
        {{ form.operator }}
        <table class="table table-bordered field-form">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Task Name</th>
                    <th>Subtask Name</th>        
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ form.projects }} </td>
                    <td> {{ form.tasks }} </td>
                    <td> {{ form.sub_tasks }} </td>
                    <td> {{ form.start_time }} </td>
                    <td> {{ form.end_time }} </td>
                    
                </tr>
                <tr>
                    <td colspan="12">
                        <button type="submit" class="submit-btn">
                            <span class="material-icons">add</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
    <!-- Grid to display timesheets -->
    <table class="table table-bordered-rows mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Project Name</th>
                <th scope="col">Project Code</th>
                <th scope="col">Task</th>
                <th scope="col">Sub-task</th>
                <th scope="col">Unit Name</th>
                <th scope="col">Task Type</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="timesheetTableBody">
            {% for timesheet in timesheets %}
                <tr>                    
                    <td>{{ timesheet.id }}</td>
                    <td>{{ timesheet.timesheet_date }}</td>                                                                                                  
                    <td>{{ timesheet.projectName }}</td>
                    <td>{{ timesheet.projectCode }}</td>                    
                    <td>{{ timesheet.taskName }}</td>
                    <td>{{ timesheet.subtaskName }}</td>
                    <td>{{ timesheet.unit_name }}</td>                                                            
                    <td>{{ timesheet.type_feature }}</td>
                    <td>{{ timesheet.type_task }}</td>
                    <td>{{ timesheet.comments }}</td>
                    <td>{{ timesheet.start_time }}</td>
                    <td>{{ timesheet.end_time }}</td>
                    <td>{{ timesheet.total_time }}</td>
                    <td>{{ timesheet.status }}</td>                    
                    <td>
                        <button class="action-btn">
                            <a href="{{ url_for('timesheets.index', id=timesheet.id, year=year, month=month, day=day) }}">
                                <span class="material-icons">edit</span>
                            </a>                            
                        </button>
                        <button class="action-btn">
                            <a href="{{ url_for('timesheets.delete', id=timesheet.id ) }}">
                                <span class="material-icons">delete</span>
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let project_select = document.getElementById('projects');
    let task_select = document.getElementById('tasks');
    let subtask_select = document.getElementById('sub_tasks');

    project_select.onchange = function() {
        project = project_select.value;
        
        fetch('/timesheets/tasks/' + project).then(function(response){
            response.json().then(function(data){
                /*alert(data);*/
                let optionHTML = '';
                
                for (let t of data.tasks) {
                    optionHTML += '<option value="' + t.id + '">' + t.task + '</option>'
                }
                task_select.innerHTML = optionHTML;
            });
        });

        task_select.onchange = function(){
            task = task_select.value;
        
            fetch('/timesheets/subtasks/' + task).then(function(response){
                response.json().then(function(data){
                    console.log(data);
                    let optionHTML = '';
                
                    for (let s of data.tasks) {
                        optionHTML += '<option value="' + s.id + '">' + s.subtask + '</option>'
                    }

                    console.log(optionHTML)
                
                    subtask_select.innerHTML = optionHTML;
                });
            });
        }
    }
</script>

{% endblock %}